/* APP SECTION */

/* Set default font for HTML element and line height */
html {
  font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
}
/* Set height, margin, and background image for body element */
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to top right,
    #fac90624 0%,
    #ff660014 50%,
    #cc330025 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
