/* FOOTER SECTION */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
    .social-icons-wrapper {
      margin-top: 1rem; /* Add margin-top to the social-icons-wrapper */
      padding-bottom: 0; /* Remove padding-bottom from the social-icons-wrapper */
    }
      
    .footer-icon-size {
        font-size: 28px;
      }
    
    
    .footer-icon-size {
      margin-top: 4.6px;;
    }
    
    .form-footer {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      padding: 10px;
    }
    
    .designer-text,
    .copyright-text, 
    .footer-container,
    .footer {
        align-content: center;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
  
  
 